<template>
    <!-- Page Content -->
    <div class="template-content">
        <div class="row">
            <div class="col-12">
                <h1 class="font-weight-light">{{ title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ message }}
            </div>
        </div>
    </div>
    <!-- Page Content -->
</template>

<script>
    export default {
        name: "landing",
        data() {
            return {
                title: 'Title set by Vue.js!',
                message: 'Message set by Vue.js!'
            }
        }
    }
</script>