
// Body
$body-bg: #A1C5E8;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #A1C5E8;
$brand-info: #6FADE9;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Lato", sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 2.625;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #305D88;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


// Colors
$theme-colors: (
        "primary": #A1C5E8,
        "secondary": #253c52,
        "info": #6FADE9
);