// Custom CSS
/* Set a background image by replacing the URL below */
body {
  background: rgb(161, 197, 232);
  background: -moz-linear-gradient(125deg, rgba(161,197,232,1) 0%,
                                           rgba(111,173,233,1) 30%,
                                           rgba(66,133,171,1) 60%,
                                           rgba(48,93,136,1) 100%);
  background: -webkit-linear-gradient(125deg, rgba(161,197,232,1) 0%,
                                              rgba(111,173,233,1) 30%,
                                              rgba(66,133,171,1) 60%,
                                              rgba(48,93,136,1) 100%);
  background: linear-gradient(125deg, rgb(161, 197, 232) 0%,
                                      rgba(111,173,233,1) 30%,
                                      rgba(66,133,171,1) 60%,
                                      rgba(48,93,136,1) 100%) no-repeat center center fixed;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a1c5e8",endColorstr="#305d88",GradientType=1);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}


nav.border-bottom {
  border-bottom: 2px solid #cbced2 !important;
}


nav.mb-5,
nav.my-5,
main.mb-5,
main.my-5 {
  margin-bottom: 2.4rem !important;
}